@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("https://use.typekit.net/eff3tos.css");

$sidebar-wd: 260px;
$sidebar-bgcolor: #212120;

.bg-dark {
    background-color: #000;
}